{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block content %}
<main>
    <h1>Category</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in category.all %}
                <tr>
                    <td>{{expense.name}}</td>
                    <!-- # below we have to use our foreign key so we can figure out
                    # how our name is related to number of receipts -->
                    <td>{{ expense.receipts.all|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
